footer{
display: none;

}
.bottom-bar{
    background: rgb(230, 230, 230);
    width:100%;
    height: 50px;
overflow: hidden;
}

.bottom-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.bottom-nav-link {
  display: flex;
  align-items: center;
   margin-left: 0;
   margin-top: 0;
  padding: 2px;
  text-decoration: none;
}



.bottom-nav-link:hover {
    background: #fffcfc;
    height: 100%;

    cursor: pointer;
    border-radius: 2px;
    color:hsl(0, 0%, 0%);
  
  }
  
  .bottom-active {
    background: #ffffff;
    border-radius: 2px;
    height: 100%;
    color: black;
  }

  @media (max-width:768px) {
    footer{
        display: block;
    }
    
  }